<div class="col-md-6" align="center">
  <h3>Thanks for submitting the feedback!</h3>
  <h2>Academic Behavioural Confidence</h2>
</div>
<!-- <style>
.parent {
  class:"col-md-8 col-md-push-2";
}
.parent > ul {
  display: inline-block;
}
</style> -->
<style type="text/css">
.position{text-align:justify;
  width:50%;
  margin-left: 25%;
}
.position ul{
  display:inline-block;
  text-align:justify;
}
/* <!-- table, th, td { -->
  <!-- border: 1px solid black; -->
<!-- } --> */
.my_table table{
  border: 1px solid black;
}
.my_table th{
  border: 1px solid black;
}
.my_table td{
  border: 1px solid black;
  text align:"center";
}
if( window.history && window.history.pushState ){
      history.pushState( "nohb", null, "" );
      $(window).on( "popstate", function(event){
          if( !event.originalEvent.state ){
          history.pushState( "nohb", null, "" );
          return;
          }
      });
}  
</style>
<div class="position">
  <p>Your responses to the set of 17 questions give a profile of your Academic Behavioural Confidence (ABC). 
     Your profile reflects your beliefs about your academic-related behaviours and your sense of your ability to meet academic goals. 
     Your profile is broken down into four dimensions, each of which support your academic performance:</p>
    <ul>
      <li><b>Attendance</b> (Att): Your Confidence in your willingness to appropriately attend your formal learning activities, such as lectures and tutorials.</li> 
      <li><b>Grades</b> (Grd): Your confidence in completing the activities that contribute directly to your grades, including coursework and exams.</li> 
      <li><b>Studying</b> (Std): Your confidence in undertaking the self-organised study necessary for your learning.</li> 
      <li><b>Verbalising</b> (Vrb): Your confidence in your ability to verbalise your knowledge in your learning activities, such as lectures and tutorials.</li>
    </ul>
  <p>The graph below summarises your level of confidence for each of the four dimensions. First, your confidence score for each dimension is provided at the bottom 
    of the graph and listed from highest to lowest (ranging from 0.0 to 1.0) in the box to the right. Second, your responses for each dimension are illustrated, 
    linked by a line of the same colour. A straight line suggests a similar level of confidence for different aspects of a dimension (e.g. attendance at lectures vs. tutorials). 
    A zig-zag line suggests that you may be less confident in some aspects than others (e.g. completing coursework vs. exams).</p>  
</div>
<table align="right" style="width:100%;height:23em">
<!-- <div align="center" style="width:100%;height:23em"> -->
  <tr>
  <!-- {% autoescape off %} -->
    <td width="30%"></td>
    <td align ="center" width="40%">{{ svg5 }}</td>
  <!-- {% endautoescape %} -->
    <td>
      <div class="my_table">
        <table align="left" style="width:40%;">
          <tr>
            <td align ="center">{{finalX.0.0}}</td>
            <td align ="center">{{finalX.0.1}}</td>
          </tr>
          <tr>
            <td align ="center">{{finalX.1.0}}</td>
            <td align ="center">{{finalX.1.1}}</td>
          </tr>
          <tr>
            <td align ="center">{{finalX.2.0}}</td>
            <td align ="center">{{finalX.2.1}}</td>
          </tr>
          <tr>
            <td align ="center">{{finalX.3.0}}</td>
            <td align ="center">{{finalX.3.1}}</td>
          </tr>
          <tr>
            <th>ABC</th>
            <th>{{ABCX}}</th>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<!-- </div>  -->
<div class="position">
  <p><b>What's next?</b><br>
    Your results should prompt you to reflect on your academic confidence regarding attending and participating in learning events, as well as your personal study and preparation for assessments. 
    Consider what, if anything, you wish to improve. You may wish to attend some of the relevant workshops on academic study skills provided by student support and wellbeing or discuss 
    how to improve your academic confidence at your next personal tutor meeting.</p>
</div>
<div align="center">
  <a href="/download" download>
    <button>Download as PDF</button>
    <!-- <a class="btn btn-primary pull-right" href="/download" role="button">Next</a> -->
  </a>
</div>
