<style type="text/css">
.position{text-align:justify;
  width:80%;
  margin-left: 10%;
}
</style>
<meta charset="utf-8">
    <title>Questionnaire</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <div class="jumbotron col-md-12">
  <div class="col-md-6 col-md-push-3" align="center">
         <h3>Academic Behavioural Confidence Questionnaire</h3>
  </div>
    </div>
  </div>
  <form action="/process" method="POST">
    {% csrf_token %}
    <!-- <div class="row"> -->
      <!-- <div class="col-md-4 col-md-push-4"> -->
        <!-- <label>Your Student Number:</label> -->
        <!-- <input type="text" name="StudentNo" class="form-control" placeholder="Student No"> -->
        <!-- {{form.SN.label_tag}}{{form.SN}} -->
          <!-- {{ field.label_tag }}: {{ field }} -->
	    <!-- </div> -->
    <!-- </div> -->
    <!-- <br> -->
    <!-- <br> -->
  <div class="row">
    <div class="position">
    <label>In an attempt to understand our students more, please consider filling in these 17 questions on Academic
      Behavioural Confidence. Importantly, once you have filled in these questions as thruthfully as possible,
      you will see your results in the form of a constellation graph summarising your responses and will have the 
      option to save them.<br><br>
      Please complete the questionnaire by rating your confidence on each question from 
      1 to 5 with 1 being "Not at all confident" and 5 being "Very confident"</label>		
    </div>
  </div>
  <!-- <br> -->
  <br>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q1}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>
    <br/>	
    <div class="col-md-4 col-md-push-8"> 
    <!-- <div class="form-group"></div> -->
    <!-- {% if form.choice1.errors %}
      <span class="custom-warning-box"> 
      {{form.choice1.errors.as_text}}
      </span>
    {% endif %}    -->
    {% for radio in form.choice1 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
    </div>
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q2}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice2 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}  
    </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q3}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice3 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}  
    </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q4}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice4 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}  
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q5}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice5 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}  
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q6}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice6 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q7}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice7 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %} 
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q8}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice8 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q9}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice9 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q10}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice10 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q11}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice11 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q12}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice12 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q13}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice13 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q14}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice14 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q15}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice15 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q16}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice16 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %} 
  </div> 
  </div>
  <div class="row">
  <hr>
    <div class="col-md-7 col-md-push-1">      
      <br/><label>{{ABCQuestions.Q17}}</label>
    </div>
    <div class="col-md-2 col-md-push-1">
      <label>Not at all<br/> confident</label>
    </div>
    <div class="col-md-2 col-md-push-1" align="center">
      <label>Very<br/>confident</label>
    </div>   
    <br/>   
    <div class="col-md-4 col-md-push-8">
    {% for radio in form.choice17 %}
      <label class="radio-inline" style="margin-right: 25">{{radio}}</label>
    {% endfor %}
  </div> 
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary pull-right" id="radioValidate">Submit</button>
    </div>
  </div>
  </form>
</div>


<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<!-- <form method="post"> -->
    <!-- {% csrf_token %} -->
     <!-- <label class="radio-inline">{{ form.as_p }}</label> -->
<!-- <input type="submit" value="Submit" class="btn btn-primary pull-right"/> -->
<!-- </form> -->


















